.banner
  background: linear-gradient(243.56deg, #520092 2.31%, #000000 56.63%)
  position: relative

.banner__container
  padding: 200px 20px 140px 20px
  display: flex
  justify-content: center
  align-items: flex-start
  column-gap: 100px

.banner__text_content
  display: flex
  flex-direction: column
  color: #fff
  width: 860px
  margin-top: 70px
  margin-bottom: 85px

.banner__title1
  font-weight: 700
  font-size: 96px
  line-height: 120px
  margin: 0 auto 0 0 

.banner__title2
  font-weight: 700
  font-size: 96px
  line-height: 120px
  margin: 0 0 20px auto

.banner__subtitle
  font-weight: 400
  font-size: 28px
  line-height: 34px
  margin: 0 0 0 auto

.banner__airpods_wrap
  position: relative
  width: 277.77px
  height: 250px
  margin-left: 30px

.banner__watches_wrap
  position: relative
  width: 628.75px
  height: 620px
