.catalog
  background-color: #200039

.catalog__container
  padding: 120px 20px 140px 20px
  color: #fff
  text-align: center

.catalog__selections
  margin: 0 auto 95px auto

.catalog__selection_btn
  max-width: 480px
  width: 100%
  padding: 15px 100px
  border: 1.5px solid #FFFFFF
  background-color: transparent
  font-weight: 500
  font-size: 22px
  line-height: 27px
  color: #fff
  &:first-child
    border-top-left-radius: 20px
    border-bottom-left-radius: 20px
  &:last-child
    border-top-right-radius: 20px
    border-bottom-right-radius: 20px
  &:hover, &:focus
    background-color: #fff
    color: #200039
    transition: all 0.3s linear

.catalog__list
  display: flex
  column-gap: 90px
  row-gap: 120px
  align-items: stretch
  justify-content: center
  flex-wrap: wrap