.basket__product
  border-bottom: 1px solid #FFFFFF
  border-top: 1px solid #FFFFFF
  display: flex
  position: relative
  align-items: center
  justify-content: space-between
  padding: 15px 0
  margin-bottom: 50px

.basket__product__right
  display: flex
  position: relative
  align-items: flex-start
  justify-content: space-between

.delete__wrap
  position: relative
  width: 20px
  height: 20px

.basket__product__delete__wrap
  position: absolute
  top: 10px
  right: 0
  background-color: transparent
  border: none
  cursor: pointer

.basket__product__img
  position: relative
  width: 120px
  height: 120px
  margin-right: 30px
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.05) 100%)
  border: 1px solid #FFFFFF

.basket__product__info
  max-width: 285px
  width: 100%
  justify-self: left

.basket__product__title
  font-weight: 700
  font-size: 22px
  line-height: 27px
  margin-bottom: 15px

.basket__product__color
  font-weight: 500
  font-size: 14px
  line-height: 17px

.basket__product__counter
  display: flex
  align-items: center
  justify-content: center
  column-gap: 15px

.basket__product__counter__btn
  width: 15px
  height: 15px
  position: relative
  background-color: transparent
  border: none
  cursor: pointer

.basket__product__counter__value
  font-weight: 700
  font-size: 22px
  line-height: 27px

.basket__product__price
  font-weight: 600
  font-size: 22px
  line-height: 27px
