@import ../../../../../public/assets/styles/variables/fonts

.benefits__box
  display: flex
  background: linear-gradient(102.39deg, #030303 0%, #240041 100%)
  .benefits__items
    color: #fff
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap
    margin: 0 auto
    .benefits__list
      display: flex
      flex-direction: row
      max-width: 969px
      justify-content: center
      align-content: center
      flex-wrap: wrap
      row-gap: 180px
      column-gap: 50px
      li
        display: flex
        column-gap: 55px
        max-width: 406px
        flex-direction: row
        align-items: flex-start
        div
          display: flex
          flex-direction: column
          h2
            font-family: $georgia
            font-size: 28px
            font-weight: 700
            margin-bottom: 20px
          p
            font-weight: 400
            font-size: 22px
            line-height: 26px
            max-width: 296px
