@import ../../../../../public/assets/styles/variables/fonts

.nav
  position: relative
  z-index: 6
  display: block
  @media (max-width: 1170px)
    display: none

.nav__title
  font-family: $georgia
  font-size: 26px
  font-weight: 600

.nav__menu
  display: flex
  list-style: none
  justify-content: space-around
  align-items: center
  column-gap: 100px
  font-weight: 500
  font-size: 16px
  line-height: 22px
  color: #fff
  @media (max-width: 1440px )
    column-gap: 70px

.nav__menu__item
  padding: 20px 0
  position: relative

.nav__menu__link
  transition: all .3s ease-out
  &::after
    content: ''
    position: absolute
    bottom: 0px
    left: 50%
    width: 0%
    height: 4px
    border-top-right-radius: 100px
    border-top-left-radius: 100px
    background-color: transparent
    transition: all .3s ease-out
  &:hover
    &::after
      left: 0
      width: 100%
      background-color: #fff
